.constainer_form {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: url(https://user-images.githubusercontent.com/53600331/72831972-e4640880-3c51-11ea-95c7-216e72cb563b.jpg)
    center fixed;
  background-size: cover;
}

.constainer_form2-5 {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: url(https://user-images.githubusercontent.com/53600331/72831970-e4640880-3c51-11ea-998c-d5e656f54146.jpg) center fixed;

  background-size: cover;
}
.constainer_formL {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: url(https://user-images.githubusercontent.com/53600331/72831971-e4640880-3c51-11ea-9150-4450f548af65.jpg) center fixed;

  background-size: cover;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background :rgba(4,5,6,0);
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(130, 130, 130);
    border-radius: 20px;
  }