.main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.innerScreeenItem {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.constainer_form {
  height: 88vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url(https://user-images.githubusercontent.com/53600331/72831972-e4640880-3c51-11ea-95c7-216e72cb563b.jpg)
    center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.constainer_form2-5 {
  height: 88vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: url(https://raw.githubusercontent.com/rdarteda/FF/master/72831970-e4640880-3c51-11ea-998c-d5e656f54146.jpg)
    center fixed;

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.constainer_formL {
  height: 88vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://user-images.githubusercontent.com/53600331/72831971-e4640880-3c51-11ea-9150-4450f548af65.jpg)
    center fixed;

  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(4, 5, 6, 0);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(130, 130, 130);
  border-radius: 20px;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  height: 100%;
  width: auto;
  visibility: visible;
  display: flex !important;
  max-width: 100%;
  max-height: 100% ;
  align-items: center !important;
  justify-content: center !important;
}

.mycostom  .simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  height: 100%;
  width: auto;
  visibility: visible;
  display: block !important;
  max-width: 100%;
  max-height: 100% ;
}